<html>
	<body>
		<div th:fragment="head">
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<title>Time Management</title>
			<!-- Bootstrap core CSS -->
			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
			<!-- Custom styles for this template -->
			<link href="../public/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet">
			<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.css" rel="stylesheet" />
			<style>
				a.disabled {
				/* Make the disabled links grayish*/
				color: rgb(175, 175, 175) !important;
				/* And disable the pointer events */
				pointer-events: none;
				}
			</style>
		</div>
		
		<div th:fragment="header">
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
				<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" th:href="@{/}">Time management</a>
				<form id="logout-form" action="#" th:action="@{/logout}" method="POST"></form>
				<ul class="navbar-nav px-3 ml-auto">
					<li class="nav-item text-nowrap">
						<!-- Lang menu  -->
						<div class="btn-group nav-item text-nowrap shadow-0">
							<a class="btn dropdown-toggle text-white" data-mdb-toggle="dropdown"
								aria-expanded="false" th:text="#{lang.change}">Lang</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="?lang=en">
										<img th:src="@{~/img/united-kingdom.svg}" alt="user-image" class="mr-1" height="18">
										<span class="align-middle"  th:text="#{lang.en}">English</span>
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="?lang=uk">
										<img th:src="@{~/img/ukraine.svg}" alt="user-image" class="mr-1" height="18">
										<span class="align-middle" th:text="#{lang.uk}">Ukrainian</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item text-nowrap">
						<button type="submit" form="logout-form" class="btn nav-link" th:text="#{admin.sign.out}">Sign out</button>
					</li>
				</ul>
			</nav>
		</div>
		
		<div th:fragment="dashboard">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
			  <div class="sidebar-sticky">
				<ul class="nav flex-column">
				  <li class="nav-item">
					<a class="nav-link active" href="#" th:href="@{/admin}" th:text="#{admin.dashboard.main}">
					  Back to main
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/admin/users}" th:text="#{admin.dashboard.all.users}">
					  All users
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/admin/categories}" th:text="#{admin.dashboard.categories}">
					  Categories
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/admin/activities}" th:text="#{admin.dashboard.activities}">
					  Activities
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link disabled" href="#" th:text="#{admin.dashboard.reports}">
					  Reports
					</a>
				  </li>
				</ul>
			  </div>
			</nav>
		</div>
		
		<div th:fragment="footer">
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.js"></script>
		</div>		
	</body>

</html>