<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<div th:replace="fragments/admin_page :: head"></div>
	</head>

  <body>
  
    <div th:replace="fragments/admin_page :: header"></div>
  
	<div class="container-fluid">
      <div class="row">
		<div th:replace="fragments/admin_page :: dashboard"></div>			
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
					<h1 class="h2" th:text="#{admin.report.title}">Report</h1>
				</div>
				<table class="table table-striped table-sm mt-3">
                    <thead>
                        <tr>
                            <th th:text="#{admin.report.table.head.user}">user</th>
                            <th th:text="#{admin.report.table.head.category}">category</th>
                            <th th:text="#{admin.report.table.head.activity}">activity</th>
                            <th th:text="#{admin.report.table.head.state}">state</th>
                            <th th:text="#{admin.report.table.head.total.time}">total time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="activity : ${allActivities}">
                            <tr>
                                <td><span th:text="${activity.getUser().getEmail()}">user</span></td>
                                <td><span th:text="${activity.getActivity().getCategory().getName()}">category</span></td>
                                <td><span th:text="${activity.getActivity().getName()}">activity</span></td>
                                <td><span th:text="${activity.getState()}">state</span></td>
                                <td><span th:text="${activity.getDuration()}">total time</span></td>
                            </tr>
                        </div>
                    </tbody>
                </table>
                <div th:if="${totalPages > 1}">
                    <div class="row col-sm-10">
                        <div class="col-sm-3">
                            [[#{admin.report.pagination.total.row}]] [[${totalItems}]]
                        </div>
                        <div class="col-sm-1">
                            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                                <a th:if="${currentPage != i}" th:href="@{'/admin/report/' + ${i}}">[[${i}]]</a>
                                <span th:unless="${currentPage != i}">[[${i}]]</span>
                            </span>
                        </div>
                        <div class="col-sm-1">
                            <a th:if="${currentPage < totalPages}" th:href="@{'/admin/report/' + ${currentPage + 1}}">Next</a>
                            <span th:unless="${currentPage < totalPages}">Next</span>
                        </div>
                        <div class="col-sm-1">
                            <a th:if="${currentPage < totalPages}" th:href="@{'/admin/report/' + ${totalPages}}">Last</a>
                            <span th:unless="${currentPage < totalPages}">Last</span>
                        </div>
                    </div>
                </div>
			</main>
      </div>
    </div>

	<div th:replace="fragments/admin_page :: footer"></div>
 </body>
 </html>