<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<div th:replace="fragments/admin_page :: head"></div>
</head>

<body>
	<div th:insert="fragments/admin_page :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="fragments/admin_page :: dashboard"></div>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">Dashboard</h1>
				</div>
				<!-- content here -->
			</main>
		</div>
	</div>
	</div>
	<div th:replace="fragments/admin_page :: footer"></div>
</body>

</html>