<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<div th:replace="fragments/admin_page :: head"></div>
	</head>

  <body>
  
    <div th:replace="fragments/admin_page :: header"></div>
  
	<div class="container-fluid">
      <div class="row">
		<div th:replace="fragments/admin_page :: dashboard"></div>
			
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
			  <h1 class="h2" th:text="#{admin.user.activities.title}">User activities</h1>
			</div>
			<div class="table-responsive">
			  <table class="table table-striped size-sm">
				<thead>
				  <tr>
					<th th:text="#{admin.user.activities.table.head.category}">category</th>
					<th th:text="#{admin.user.activities.table.head.name}">name</th>
					<th th:text="#{admin.user.activities.table.head.time}">time</th>
					<th th:text="#{admin.user.activities.table.head.state}">state</th>
				  </tr>
				</thead>
				<tbody>
				  <div th:each="ua : ${userActivities}">
					<tr>
					  <td><a th:text="${ua.getActivity().getCategory().getName()}">category</a></td>
					  <td><a th:text="${ua.getActivity().getName()}">name</a></td>
					  <td><a th:text="time">time</a></td> 
					  <td><a th:text="${ua.getState().name()}">state</a></td>
					  <td>
						<a href="#" th:href="@{/admin/user/activity/delete/{id}(id=${ua.getUser().getId()})}" 
						  th:text="#{admin.user.activities.table.button.delete}">delete</a>
					  </td>
					</tr>
				  </div>
				</tbody>
			  </table>
			</div>
		  </main>
      </div>
    </div>

	<div th:replace="fragments/admin_page :: footer"></div>
 </body>
 </html>