<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
    <div class="container" style="margin-top: 50px;">
        <div class="error-body">
            <h3 th:text="#{error.page.common.message}">Something went wrong!</h3>
            <h1 th:text="|${httpStatus.reasonPhrase}|">404</h1>
            <p style="font-size: 22px;" th:utext="${exception}">Error</p>
            <p th:utext="${url}">Url</p>
            <a href="#" th:href="@{/}" th:text="#{error.page.back.home}">Back to Home Page</a>
        </div>
    </div>
</body>

</html>