<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <div th:replace="fragments/user_page :: head"></div>
</head>

<body>
    <div th:insert="fragments/user_page :: header"></div>

    <div class="container">
        <!-- Tabs navigation -->
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" 
                role="tab" aria-controls="nav-home" aria-selected="true" th:text="#{index.tab.current}">Current</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" 
                role="tab" aria-controls="nav-profile" aria-selected="false" th:text="#{index.tab.new}">New</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" 
                role="tab" aria-controls="nav-contact" aria-selected="false" th:text="#{index.tab.completed}">Completed</a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <table class="table table-striped table-sm mt-3">
                    <thead>
                        <tr>
                            <th th:text="#{index.tab.current.table.head.category}">category</th>
                            <th th:text="#{index.tab.current.table.head.activity}">activity</th>
                            <th th:text="#{index.tab.current.table.head.state}">state</th>
                            <th th:text="#{index.tab.current.table.head.actions}">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="ua : ${userActivities}"
                             th:if="${ua.getState().name == 'ACCEPTED'}">
                            <tr>
                                <td><span th:text="${ua.getActivity().getCategory().getName()}">category</span></td>
                                <td><span th:text="${ua.getActivity().getName()}">activity</span></td>
                                <td><span th:text="${ua.getState()}">accepted</span></td>
                                <td><span>actions</span></td>
                            </tr>
                        </div>
                    </tbody>
                </table>
                <div th:replace="fragments/modal_new_user_activity :: add_activity"></div>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <table class="table table-striped table-sm mt-3">
                    <thead>
                        <tr>
                            <th th:text="#{index.tab.new.table.head.category}">category</th>
                            <th th:text="#{index.tab.new.table.head.name}">name</th>
                            <th th:text="#{index.tab.new.table.head.accepted}">accepted</th>
                            <th th:text="#{index.tab.new.table.head.actions}">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <div th:each="ua : ${userActivities}">
                            <tr>
                                <td><a th:text="${ua.getActivity().getCategory().getName()}">category</a></td>
                                <td><a th:text="${ua.getActivity().getName()}">name</a></td>
                                <td><a th:text="${ua.getState()}">accepted</a></td>
                                <td><a th:text="$some buttons">actions</a></td>
                            </tr>
                        </div> -->
                    </tbody>
                </table></div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <table class="table table-striped table-sm mt-3">
                    <thead>
                        <tr>
                            <th th:text="#{index.tab.completed.table.head.category}">category</th>
                            <th th:text="#{index.tab.completed.table.head.name}">name</th>
                            <th th:text="#{index.tab.completed.table.head.accepted}">accepted</th>
                            <th th:text="#{index.tab.completed.table.head.actions}">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <div th:each="ua : ${userActivities}">
                            <tr>
                                <td><a th:text="${ua.getActivity().getCategory().getName()}">category</a></td>
                                <td><a th:text="${ua.getActivity().getName()}">name</a></td>
                                <td><a th:text="${ua.getState()}">accepted</a></td>
                                <td><a th:text="$some buttons">actions</a></td>
                            </tr>
                        </div> -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="alert alert-success alert-dismissible" role="alert" th:text="#{index.requested.activity.message.success}" 
            th:if="${requestedActivitySuccess}"></div>
        <div class="alert alert-danger alert-dismissible" role="alert" th:text="${index.requested.activity.message.failure}" 
            th:if="${error_message}"></div>
    </div>
    <div th:replace="fragments/user_page :: footer"></div>
</body>
</html>