<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <div th:replace="fragments/login_page :: head_tag"></div>
</head>
<body>
<div class="container">
    <!-- Lang menu  -->
    <div th:replace="fragments/lang_menu :: lang"></div>

    <form class="form-signin" method="post" action="/login" th:action="@{/login}">
        <h2 class="form-signin-heading"th:text="#{login.title}">Sign in</h2>
        <span style="background-color: rgb(22, 209, 106)" th:text="${logout} ? 'You have been signed out' : ''"></span>
        <span style="background-color: rgb(248, 215, 218)" th:text="${error} ? 'Wrong email or password' : ''"></span>
        <!-- <span style="color: rgb(22, 209, 106)" th:if="${logout}" th:text="#{message}"></span> -->
        <!-- <span style="color: rgb(236, 68, 82)" th:if="${error}" th:text="#{error}"></span> -->
        <!-- <div th:if="{param.logout}" class="alert alert-success" role="alert">You have been signed out</div> -->
                
        <div th:if="${loginError}" class="alert alert-danger" role="alert" th:text="#{login.wrong.credential}">Wrong email or password</div>
        <p>
            <input type="text" id="email" name="email" class="form-control" placeholder="Email" 
                th:placeholder="#{login.email.placeholder}" required autofocus>
        </p>
        <p>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" 
                th:placeholder="#{login.password.placeholder}" required>
        </p>

        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.login}">Log In</button>
        <div class="my-sm-3 m-3 text-right"><a href="/registration" th:text="#{login.sign.up}">Sign up</a></div>
    </form>
</div>
<div th:replace="fragments/login_page :: footer"></div>
</body>
</html>