<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Time Management</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet">
  <style>
    a.disabled {
      /* Make the disabled links grayish*/
      color: rgb(175, 175, 175) !important;
      /* And disable the pointer events */
      pointer-events: none;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/admin" th:href="@{/admin}">Time management</a>
    <form id="logout" action="/auth/logout" method="POST"></form>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <button type="submit" form="logout" class="btn nav-link">Sign out</button>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#" th:href="@{/admin}">
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" th:href="@{/admin/users}">
                All users
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" th:href="@{/admin/categories}">
                Categories
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" th:href="@{/admin/activities}">
                Activities
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">
                Integrations
              </a>
            </li>
          </ul>


          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#">
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">
                Current month
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">
                Last quarter
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">
                Social engagement
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">
                Year-end sale
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">All users</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary">Share</button>
              <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-calendar">
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="16" y1="2" x2="16" y2="6"></line>
                <line x1="8" y1="2" x2="8" y2="6"></line>
                <line x1="3" y1="10" x2="21" y2="10"></line>
              </svg>
              This week
            </button>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-striped size-sm">
            <thead>
              <tr>
                <th>full name</th>
                <th>email</th>
                <th>role</th>
                <th>state</th>
                <th>actions</th>
              </tr>
            </thead>
            <tbody>
              <div th:each="user : ${users}">
                <tr>
                  <td><a th:text="${user.getFirstName() + ' ' + user.getLastName()}">full name</a></td>
                  <td><a th:text="${user.getEmail()}">email</a></td>
                  <td><a th:text="${user.getRole().name()}">role</a></td>
                  <td><a th:text="${user.getState().name()}">state</a></td>
                  <td><a class="m-2" href="#" th:text="Edit"
                      th:href="@{/admin/user/edit/{id}(id=${user.getId()})}">edit</a>
                    <a href="#" th:text="Delete" th:href="@{/admin/user/delete/{id}(id=${user.getId()})}">delete</a>
                  </td>
                </tr>
              </div>
            </tbody>
          </table>
        </div>
        <button class="btn btn-sm btn-outline-secondary m-2" data-toggle="modal" data-target="#myModal">
          Add user
        </button>
        <div th:text="${error_message}" class="alert alert-danger p-2" role="alert">Email exist</div>

        <!-- The Modal -->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <form action="/admin/create" method="POST" id="create-user">
                  <div class="row">
                    <div class="col-8">
                      <input type="text" class="form-control mb-2" id="fname" placeholder="First name" name="fname">
                      <input type="text" class="form-control mb-2" id="lname" placeholder="Last name" name="lname">
                      <input type="text" class="form-control mb-2" id="email" placeholder="Email" name="email">
                      <input type="password" class="form-control mb-2" placeholder="Password" name="pswd">
                    </div>

                    <div class="col-4">
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownRole" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          Role
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownRole">
                          <div th:each="role : ${roles}">
                            <li th:text="${role}"></li>
                          </div>
                        </ul>
                      </div>

                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownState" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          State
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownState">
                          <div th:each="state : ${states}">
                            <li th:text="${state}"></li>
                          </div>
                        </ul>
                      </div>
                      
                      <!-- <input type="text" class="form-control mb-2" id="role" placeholder="Role" name="role"> -->
                      <!-- <input type="text" class="form-control mb-2" id="state" placeholder="State" name="state"> -->
                    </div>

                  </div>
                </form>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
                <button type="submit" form="create-user" class="btn btn-md btn-outline-secondary m-2">Create</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </main>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>